server:
  port: 8081

spring:
  application:
    name: game-engine
  datasource:
    url: jdbc:h2:mem:engine_db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true