server:
  port: 8082

spring:
  application:
    name: game-session
  datasource:
    url: jdbc:h2:mem:session_db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

services:
  game-engine:
    url: http://localhost:8081